@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* For rem units in tailwind */
  /* Sizing based on viewport */
  font-size: 1.5vw;
  /* Set background because page previous should already have a white bg */
  background: #eee;
}

html, body {
  overscroll-behavior: none;
}

/*
Printing styles
- Force print without margins.
- Force printing backgrounds.
*/

@page {
  margin: 0mm;
}

body{
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

.resume-dot:after {
  content: "/";
  margin: 0 0.5rem;
}
.resume-dot:last-child:after {
  content: "";
}