@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  /* For rem units in tailwind */
  /* Sizing based on viewport */
  font-size: 1.5vw;
}

html, body {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #00000022;
}

a:any-link {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@page {
  margin: 0mm;
}

body{
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}